html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #fe7300;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-bar {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: yellow;
  position: sticky;
  top: 0;
}
.logo-container {
  width: 60px;
  height: 60px;
}
#logo {
  position: relative;
  top: 4px;
  transform: rotate(-19deg); /* To make S straight */
}
.inner-sphere {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.position1 {
  top: 8px;
  left: 38px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.position2 {
  top: 3px;
  left: 30px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 300ms;
}
.position3 {
  top: 6px;
  left: 20px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 600ms;
}
.position4 {
  top: 14px;
  left: 16px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 900ms;
}
.position5 {
  top: 22px;
  left: 23px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 1200ms;
}

.position6 {
  top: 28px;
  left: 32px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 1500ms;
}

.position7 {
  top: 37px;
  left: 35px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 1800ms;
}
.position8 {
  top: 42px;
  left: 27px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2100ms;
}
.position9 {
  top: 41px;
  left: 16px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2400ms;
}
.position10 {
  top: 34px;
  left: 8px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2700ms;
}

@keyframes color {
  0% {
    background-color: #e0ffff;
  }
  25% {
    background-color: #87ceeb;
  }
  50% {
    background-color: #afeeee;
  }
  75% {
    background-color: #20b2aa;
  }
  100% {
    background-color: #008080;
  }
}

/* navigation links */
.links-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: #2f4f4f;
}

a:hover {
  color: #778899;
}

#header-img {
  width: 100vw;
  height: auto;
}

main {
  width: 100%;
}

#video {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .links-container {
    gap: 1rem;
  }
}

@media (max-width: 615px) {
  .links-container {
    gap: 0.7rem;
    font-size: 0.9em;
  }
}

@media (max-width: 520px) {
  .links-container {
    font-size: 0.9em;
    flex-basis: 50px;
    justify-content: space-between;
  }
}
